@model Travel.Models.Classlar.Blog
@{
    ViewBag.Title = "YeniBlog";
    Layout = "~/Views/Shared/adminLayout.cshtml";
}

<h2>YeniBlog Ekleme</h2>

<form class="form-group" method="post" action="admin/YeniBlog">
    @Html.LabelFor(x => x.Baslik)
    @Html.TextBoxFor(x => x.Baslik, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.Aciklama)
    @Html.TextAreaFor(x => x.Aciklama, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary" type="submit">Blog Ekle</button>
</form>

