
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<body>

    <!-- Sidebar -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width: 15%; display: flex;  flex-direction: column; }">
        <h3 class="w3-bar-item">Menuler</h3>
        <a href="/admin/index" class="w3-bar-item w3-button">Bloglar</a>
        <a href="/yorum/index" class="w3-bar-item w3-button">Yorumlar</a>
        <a href="/admin/iletisim" class="w3-bar-item w3-button">İletişim</a>
        <a href="/admin/hakkimizda" class="w3-bar-item w3-button">Hakkımızda</a>
        <a href="/home/index" class="w3-bar-item w3-button">Siteye Git</a>
        <a href="/login/LogOut" class="w3-bar-item w3-button">Cıkıs Yap</a>



    </div>

    <!-- Page Content -->
    <div style="margin-left:15%">

        <div class="w3-container w3-teal">
            <h4>Admin Yönetim Paneli</h4>
        </div>


        <div class="w3-container " >
            @RenderBody()
        </div>

    </div>

</body>
</html>
